# ===============================
# TESTING
# ===============================
app.blog.test.judge-server=http://spring-workshop-judge.koreacentral.cloudapp.azure.com:5000
# ===============================
# APPLICATION
# ===============================
logging.level.org.springframework.security.web.FilterChainProxy=DEBUG
spring.mvc.throw-exception-if-no-handler-found=true
spring.web.resources.add-mappings=false
# ===============================
# PERSISTENCE
# ===============================
spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.MySQLDialect
spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=false
# ===============================
# DOCUMENTATION
# ===============================
springdoc.swagger-ui.path=/swagger-ui.html
# ===============================
# WORKSHOP
# ===============================
app.blog.test.name=
spring.datasource.url=
spring.datasource.username=
spring.datasource.password=